.services {
  display: flex;
  height: 400px;
}

.services > div {
  flex: 1;
  background: var(--i) no-repeat center;
  background-size: auto 100%;
  border-radius: 1rem;
  transition: all 0.7s cubic-bezier(0.25, 0.4, 0.45, 0.1.4);
}
.services > div:hover {
  flex: 5;
  font-weight: 900;
  color: aliceblue;
  display: flex;
  align-content: center;
  cursor: pointer;
}
.service:hover{
  align-items: center;
}
.service{
    display: flex;
    margin:1rem;
    align-items: flex-start;
    justify-content: center;
    
} 
.service>div{
  margin: 2rem 1rem;
  color:white;

}
.service>div>span{
  display: none;
}
.service:hover{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.service:hover div>span{
  display: inline;
  margin: 0 4rem;
}
.info-cnt{
  display: flex;
  justify-content: space-between;
  width: 100%;
}


